@page "/PlanningPoker/Room/{id}"
@using Microsoft.AspNetCore.SignalR.Client;
@using Blazored.LocalStorage;
@using Website.Settings;
@using Website.Shared.Models.PlanningPoker;

@inject NavigationManager NavigationManager;
@implements IAsyncDisposable;
@inject HubConnection hubConnection;
@inject ILocalStorageService _localStorage;
@inject NavigationManager Navigation;

<h1>@Id : @account.Username</h1>

<hr />

<button type="button" class="btn btn-primary" @onclick="SendValue" disabled="@(!IsConnected)">Set Value</button>
<button type="button" class="btn btn-primary" @onclick="ResetValue" disabled="@(!IsConnected)">Reset</button>

<hr />

<ul id="messagesList">
    @foreach (var member in members)
    {
        <li>@member.Username : @cards.FirstOrDefault(c => c.MemberID == member.ID)?.CardValue</li>
    }
</ul>

@code {
    [Parameter]
    public string Id { get; set; }

    private PokerAccount account = new PokerAccount();
    private List<PokerMember> members = new List<PokerMember>();
    private List<PokerCard> cards = new List<PokerCard>();

    protected override async Task OnInitializedAsync()
    {
        hubConnection.On<List<PokerMember>>("MembersChanged", (newMembers) =>
        {
            members = newMembers;
            StateHasChanged();
        });

        hubConnection.On<bool>("ResetCards", (reset) =>
        {
            if (reset) {
                cards = new List<PokerCard>();
            }
            StateHasChanged();
        });

        hubConnection.On<PokerCard>("SetCard", (newCard) =>
        {
            PokerCard currentCard = cards.FirstOrDefault(c => c.MemberID == newCard.MemberID);

            if (currentCard != null)
            {
                currentCard.CardValue = newCard.CardValue;
            }
            else
            {
                cards.Add(newCard);
            }

            StateHasChanged();
        });

        await GetAccount();

        await hubConnection.StartAsync();

        await hubConnection.SendAsync("JoinRoom", Id, account.Username);
    }

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    public async Task SendValue()
    {
        double cardValue = 5;
        await hubConnection.SendAsync("SetCard", account.Username, cardValue);
    }

    public async Task ResetValue()
    {
        await hubConnection.SendAsync("ResetCards", account.Username);
    }

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }

    private async Task<PokerAccount> GetAccount()
    {
        var pokerAccount = await _localStorage.GetItemAsync<PokerAccount>(LocalStorageNames.PlanningPokerAccount);

        if (pokerAccount == null || !pokerAccount.RoomName.Equals(Id))
        {
            Navigation.NavigateTo($"/PlanningPoker/Find");
        }

        account = pokerAccount;
        return pokerAccount;
    }
}
